<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Erica's List", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About",   'about' %></li>
          <li><%= link_to "Contact", 'contact' %></li>
          <li><%= link_to "Sign in", 'signin' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>