%h1 About

%p This is an open source web app being devloped from the idea of Erica Heinz 
%p “I wish there were an Angie’s List for designers and developers, where we could warn each other about bad clients/vendors.”  – @ericaheinz
