<div class="center hero-unit">
	<h1>Erica's List</h1>
	<p> Developers and Designers client review board. It's like glass door for clients.</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
